{:paths ["src"]
 :deps  {
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         lilactown/helix {:mvn/version "0.0.15"}
         }

 :aliases
 {;; Run with clj -T:build <function-in-build>
  :build {:paths ["src"]
          :deps {}
          :ns-default build}

  :shadow-cljs
  {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.16.4"}
                 binaryage/devtools   {:mvn/version "1.0.4"}
                 cider/cider-nrepl    {:mvn/version "RELEASE"}
                 refactor-nrepl/refactor-nrepl {:mvn/version "RELEASE"}}
   :main-opts   ["-m" "shadow.cljs.devtools.cli"]}

  ;;
  }}
