{:paths ["src" "resources"]
 :deps  {
         lilactown/helix {:mvn/version "0.1.10"}


         io.github.kunagi/kunagi-utils {:git/sha "8eb39aba1bd2efde4860d44a32f1c14345e99e84", :git/tag "v0.1.42"}


         ;; io.github.kunagi/kunagi-build {:git/sha "79bf7fc4e252d62cdbe013471103c4a73f3320dd"}
         ;; io.github.kunagi/kunagi-build {:local/root "../kunagi-build"}
         ;;

         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}

         }

 :aliases
 {;; Run with clj -T:build <function-in-build>
  :build {:paths ["src"]
          :deps {;;
                 ;; io.github.kunagi/kunagi-build {:git/sha "79bf7fc4e252d62cdbe013471103c4a73f3320dd"}
                 io.github.kunagi/kunagi-build {:local/root "/p/kunagi-build"}
                 ;; io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                 ;;
                 }
          :ns-default build}

  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
         :main-opts ["-m" "kaocha.runner"]}

  ;;
  }}
